<%- include('includes/persona2/_header') %>
<%- include('includes/persona2/_navbar') %>
<div class="content">
    <div class="card">
        <div class="card-content">
            <div class="columns">
            <% for(const persona of personas){ %>
                    <div class="column">
                    <%= persona %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('includes/_footer') %>