<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Ingrese la url de una imagen de Persona 4</h2>
            <div class="field">
                <form action="/persona4/agregar" method="POST">
                    <label class="label" for="urlP4">Url de imagen</label>
                    <input class="input" id="urlP4" type="text" placeholder="https://i.redd.it/a3598fe3gvjb1.jpg" name="urlP4">
                    <button class="button is-link" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>