<div class="content">
    <div class="card">
        <div class="card-content">
            <h1>Persona 2</h1>
            <h2>Sinopsis</h2>
            <p>Persona 2 es un videojuego de rol desarrollado por Atlus y forma parte de la serie Shin Megami Tensei: Persona. Está dividido en dos títulos:</p>
  
            <ul>
                <li><strong>Persona 2: Innocent Sin (1999)</strong></li>
                <img width="200px" src="https://mollielpatterson.com/wp-content/uploads/2011/09/persona2is.jpg">
                <li><strong>Persona 2: Eternal Punishment (2000)</strong></li>
                <img width="200px" src="https://i.ytimg.com/vi/gVhs53l-T3E/maxresdefault.jpg">
            </ul>
                <p>La historia sigue a un grupo de jóvenes que se enfrentan a fuerzas sobrenaturales después de que un rumor urbano sobre la aparición del <strong>Joker</strong> se vuelve realidad. A medida que los rumores comienzan a materializarse, los protagonistas deben descubrir la verdad detrás del fenómeno mientras enfrentan sus propios miedos y recuerdos reprimidos.</p>
                <h2>Datos Curiosos</h2>
            <ul>
                <li>Innocent Sin nunca fue lanzado oficialmente fuera de Japón hasta su remake en PSP en 2011.</li>
                <li>Eternal Punishment es una secuela directa y sí fue lanzado en América en PlayStation en el año 2000.</li>
                <li>Fue el primer juego de la saga Persona en incluir el <strong>"Sistema de Rumores"</strong>, donde los rumores podían volverse realidad en el mundo del juego.</li>
                <li>En Innocent Sin, hay un cameo de Hitler como villano, aunque en la versión occidental de PSP fue censurado y se le cambió el nombre a "<strong>Führer</strong>".</li>
                <li>La historia de los juegos tiene conexiones con el primer Persona y deja pistas sobre lo que más tarde sería Persona 3.</li>
            </ul>
        </div>
    </div>
  </div>
  </body>  