<div class="content">
    <div class="card">
    <div class="card-content">
    <h2>Ingrese el nombre de una Persona</h2>
    <div class="field">
    <form action="/persona2/agregar" method="POST">
        <label class="label" for="nombreP2">Nombre de la persona</label>
        <input class="input" id="nombreP2" type="text" placeholder="Arsene" name="nombreP2">
        <button class="button is-link" type="submit">Buscar</button>
        </form>
        </div>
    </div>
    </div>
    </div>
<!--Lo que hace el for de label es que al hacer click te manda al input correspondiente-->
<!--la etiqueta name hace que al mandar los datos a un servidor lleguen con ese valor, generalmente se pone name e id iguales-->
