<body>
<div class="content">
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Persona 2</a>
      <a class="navbar-item">Persona 3</a>
      <a class="navbar-item">Persona 4</a>
      <a class="navbar-item">Persona 5</a>
      <a class="navbar-item">Preguntas</a>
    </div>
  </div>
</nav>
</div>