<div class="content">
    <div class="card">
        <div class="card-content">
            <h4>Persona 5 Royal esta basado en Tokio, Japón</h4>
            <div class="field">
                <form action="/persona5/agregar" method="POST">
                    <label class="label" for="addrP5">Ingresa un lugar/calle de Tokio</label>
                    <input class="input" id="addrP5" type="text" placeholder="Shibuya" name="addrP5">
                    <button class="button is-link" type="submit">Buscar</button>
                </form>
                <form action="/persona5/lugares" method="GET">
                    <button class="button is-link">Ver Lugares</button>
                </form>
            </div>
        </div>
    </div>
</div>